$widthMediaPhone: 767px;

.Home {
    .container {
        display: grid;
        grid-template-columns: 1fr .7fr;
        gap: 10px;
        align-items: center;
        padding-left: 50px;

        @media screen and (max-width: $widthMediaPhone) {
            grid-template-columns: 1fr;
            padding-left: 40px;
        }
    }

    .details {
        .boxImg {
            width: 200px;
            height: 200px;
            user-select: none;
            -webkit-user-drag: none;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            scale: .9;

            &::after {
                content: "";
                position: absolute;
                width: 230px;
                height: 230px;
                left: 50%;
                top: 50%;
                border-radius: 50%;
                border: 2px solid var(--cr-primary);
                border-left-color: transparent;
                border-right-color: transparent;
                transform: translate(-50%, -50%);
                animation: rotateRight 3s ease-in infinite;
            }

            @keyframes rotateRight {
                100% {
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 210px;
                height: 210px;
                left: 50%;
                top: 50%;
                border-radius: 50%;
                border: 2px solid var(--cr-primary);
                border-bottom-color: transparent;
                border-top-color: transparent;
                transform: translate(-50%, -50%);
                animation: rotateLeft 3s ease-in infinite;
            }

            @keyframes rotateLeft {
                100% {
                    transform: translate(-50%, -50%) rotate(-360deg);
                }
            }

            .myImg {
                z-index: -1;
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }

            .imgMark {
                position: absolute;
                width: 70px;
                bottom: 10px;
                right: -35px;
                z-index: 10;
            }
        }

        .info {
            span {
                color: var(--cr-text-muted);
            }

            h2 {
                font-size: 30px;
                margin: 10px 0;

                @media screen and (max-width: 767px) {
                    font-size: 24px;
                }

                @media screen and (max-width: 350px) {
                    font-size: 23px;
                }
            }

        }

        .btns {
            display: flex;
            align-items: center;
            position: relative;
            gap: 10px;
            margin-top: 20px;

            .hoverEffect:last-child {
                width: 120px;
            }
        }

        .links {
            margin-top: 20px;
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                z-index: 1;
                color: #fff;
                transition: .2s;
                display: grid;
                place-items: center;

                a {
                    display: grid;
                    place-items: center;
                    position: absolute;
                    inset: 0;
                    color: #fff;
                    transition: .1s;
                }

                &::after {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 100%;
                    border-radius: 50%;
                    height: 100%;
                    transition: .3s;
                }

                &:nth-child(1)::after {
                    background-color: blue;
                }

                &:nth-child(2)::after {
                    background-color: crimson;
                }

                &:nth-child(3)::after {
                    background-color: black;
                }

                &:nth-child(4)::after {
                    background-color: rgb(71, 71, 230);
                }

                &:hover {
                    font-size: 30px;

                    &:nth-child(1) a {
                        color: blue;
                    }

                    &:nth-child(2) a {
                        color: crimson;
                    }

                    &:nth-child(3) a {
                        color: black;
                    }

                    &:nth-child(4) a {
                        color: rgb(71, 71, 230);
                    }

                    &::after {
                        scale: 0;
                    }
                }
            }
        }
    }

    .animatHome {
        width: 100%;

        @media screen and (max-width: $widthMediaPhone) {
            display: none;
        }
    }
}