.Contact {
    @media screen and (max-width: 767px) {
        padding: 0;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;

        @media screen and (max-width: 767px) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .container2 {
        display: grid;
        grid-template-columns: 1.1fr 1fr;
        background-color: var(--bg-primary-soft);
        border-radius: 4px;
        padding: 0 30px;
        box-shadow: 3px 3px 10px var(--cr-shadow-soft);
        overflow: visible;
        border: 1px solid var(--cr-border);

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            overflow: auto;
        }

        .infos {
            border-radius: inherit;
            background-color: var(--bg-primary-soft);
            height: calc(100% + 40px);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: -20px;
            position: relative;
            z-index: 1;
            border: 1px solid var(--cr-border);
            border-bottom: 0;
            box-shadow: 3px 3px 10px var(--cr-shadow-soft);

            @media screen and (max-width: 767px) {
                height: 100%;
                width: calc(100% + 60px);
                margin: 0px -30px 0;
                border-radius: 5px 5px 0 0;
                border: 0;
                box-shadow: none;
            }

            h1 {
                display: flex;
                align-items: center;
                gap: 10px;

                i {
                    margin-top: 5px;
                }
            }

            .desc {
                line-height: 1.6;
                font-size: 13px;
                color: var(--cr-text-muted);
            }

            form {
                margin-top: 30px;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    margin-bottom: 20px;

                    label {
                        font-weight: 600;
                        font-size: 13px;
                    }

                    input,
                    textarea {
                        padding: 10px;
                        background-color: var(--bg-inp);
                        transition: .2s ease;
                        border-radius: 4px;
                        border: 1px solid var(--cr-border);
                        text-transform: none;

                        &:hover,
                        &:focus {
                            box-shadow: 3px 3px 5px var(--cr-shadow-soft);
                            border-color: var(--cr-primary);
                        }

                        &::placeholder {
                            text-transform: capitalize;
                        }
                    }

                    textarea {
                        height: 150px;
                        resize: none;
                    }
                }

                .sentSuccessful {
                    color: rgb(40, 255, 40);
                    margin: -10px 0 15px;
                    text-align: center;
                    display: none;

                    &.active {
                        display: block;
                    }
                }

                button {
                    margin: 0 auto;
                    width: 200px;
                    height: 40px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: auto;
                    gap: 10px;

                    span {
                        display: block;
                        width: 20px;
                        height: 20px;
                        border: 3px solid #fff;
                        border-radius: 50%;
                        z-index: 10;
                        border-bottom-color: transparent;
                        animation: loadding 1s linear infinite backwards;
                        display: none;

                        &.active {
                            animation: loadding 1s linear infinite backwards;
                            display: block;
                        }

                        @keyframes loadding {
                            100% {
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }

        .animat {
            margin: auto;
            width: 100%;

            .player {
                max-width: 300px;
                width: 100%;
                margin: auto;
            }
        }
    }
}